<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1>SushiShop</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 tha">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/" style="padding-right: 22px;">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/produits">Produit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/" style="padding-right: 22px;">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="/" style="padding-right: 22px;">Avis</a>
          </li>
          
        </ul>
        <ul class="navbar-nav">
          <form class="d-flex">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">id</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/panier" style="padding-right: 22px;">Panier</a>
          </li>
        </form>
      </ul>
      </div>
    </div>
  </nav>
