<div class="panier">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of panier">
          <td><img [src]="urlImages + produit.image" alt="{{ produit.nom }}" class="produit-image"></td>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.prix }}€</td>
          <td><button (click)="removeFromPanier(produit)">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="panier-total">
      <div class="panier-prix">
        <h6>Coût total des produits</h6>
        <p>{{ getTotal() }}€</p>
      </div>
      <button class="panier-valider">Valider ma commande</button>
    </div>
  </div>